.profile {
  max-width: 900px;

  margin: 40px auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.description {
  margin: 0 auto;

  text-align: center;
}

.avatar {
  margin: 0 auto;
  border-radius: 50%;
  background-color: aliceblue;
}

.stats {
  display: flex;
  background-color: #f6f5f5;
  list-style: none;
  justify-content: center;
}

.label {
  display: block;
  margin-bottom: 10px;
  color: #9b9191;
  font-size: 20px;
}

.quantity {
  font-weight: bold;
  font-size: 25px;
}
.profile li {
  padding: 30px;
  border: 1px solid #cdcccc;
  width: 33%;
}

.name {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.location,
.tag {
  font-size: 20px;
  color: #9b9191;
  margin-bottom: 10px;
}
