.statistics {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 900px;
}

.title {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
}

.stat-list {
  display: flex;
  background-color: #f3f6f9;
  padding: 0;
  margin: auto;
  justify-content: center;
}

.item {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e8ef;
  text-align: center;
  flex: 0 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
